*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(120, 120, 228);

}
H1{
background-color: rgb(17, 68, 68);
color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: center;
margin: 0%;
height: 5rem;
text-align: center;

}
.choices{
    display: flex;
    align-items: center;
    justify-content:center ;
    padding-top: 3rem;
    
    gap: 15px; 
    
}
.choice:hover{
    background-color: #000000;
    
}
.choice{
   height: 170px;
   width: 170px;
   background-color: blanchedalmond;
   gap: 20px;
   border-radius: 50%;
   display: flex;
   justify-content:center ;
   align-items: center;


}
img{
    height: 160px;
    width: 160px;
    object-fit:cover;
    border-radius: 50%;
    
}
#output{
    background: black;
    color:rgb(103, 243, 75);
    height: 5rem;
    
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
